#desktopTop{
     background-image: url('/src/images/bg-pattern-intro-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(10, 100%, 69%);
    border-bottom-left-radius: 120px;
}
#state{
background-image: url( "/src/images/bg-pattern-circles.svg");
}
body{
    margin:0;
}