#desktopTop{
     background-image: url('/src/images/bg-pattern-intro-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(10, 100%, 69%);
    border-bottom-left-radius: 120px;
}
#state{
background-image: url( "/src/images/bg-pattern-circles.svg");
}

body{
    margin:0;
}


#desktopNav{
    display: none;
  }
  
  
  #mobileNav{
    display: block;
    }
  
 
  
  @media screen and (min-width:600px) {
      
    #desktopNav{
        display: block;
    }
  
    #mobileNav{
    display: none;
    }
    
  
  }
  